version: "3.12"

services:

  backend:
    build: ./backend/ai-docs-chat
    ports:
      - "8000:8000"
    volumes:
      - ./backend/ai-docs-chat:/app

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./:/app
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0"]
